*
{
    margin: 0;
    padding: 0;
}
body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
}
video
{
    width: 100%;
    position: fixed;
    z-index: -1;
}
#fond
{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-self: center;
    transition: 0.5s;
}
#fond:hover
{
    transform: scale(0.5);
}
body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    background-color: blue;
}
header
{
    color: white;
    width: 40%;
    text-align: right;
}
a
{
    color: white;
    margin: 5px;
}
nav
{
    width: 35%;
    margin: auto;
    text-align: left;
    
}
.tete
{
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#home
{
    margin: 0;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: gray 3px solid;
    border-bottom: gray 3px solid;
    align-items: center;
    padding: 35px;
    background: url('image/fond.jpg') no-repeat;
    background-position: center;
}
#burger, button, #txth
{
    text-align: center;
}
button
{
    width: 100px;
    height: 40px;
}
#txth
{
    text-decoration: underline;
}
#produits
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
}
#valeur
{
    padding-left: 10px;
    margin: 10px;
    width: 590px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    flex-wrap: wrap;
}
#recette
{
    margin: 10px;
    padding-left: 10px;
    width: 590px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    flex-wrap: wrap;
}
footer
{
    padding-bottom: 25px;
    margin: 0;
    padding-left: 50px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-top: gray 3px solid;
}
#contact
{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#qqch
{
    border-bottom: 1px solid white;
    width: 25%;
}
#foot
{
    display: flex;
    flex-direction: row;
}
.foots
{
    width: 20%;
    margin-right: 30px;
}
#bar
{
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid white;
}
#imgun
{
    max-width: 100%;
    max-height: 100%;
}
#imgde
{
    max-width: 100%;
    max-height: 100%;
}
#chiant
{
    margin-right: 15px;
}